  <!--大图内容开始-->
  <div id="main-content">
    <br>
    <h1>屏住呼吸<br>让美丽的窗帘捕获清晨第一缕温暖</h1>
    <p>扇无法拒绝风与阳光的窗</p>
    <br>
    <h3 id="service"><a href="/products">现在搭配</a></h3>
  </div>
  <!--大图内容结束-->

  <!--正文内容开始-->
  <div id="third">
    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>
    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>
    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>

    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>
    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>
    <div id="third1"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg15oqchx3j30eo09qt8x.jpg"><br>
      <h3>锁住温暖</h3><br>
      <p> 保留光线，定格温暖 </p>
    </div>
  </div>
  <!--正文内容结束-->

    <!--思源黑体 字体插入开始-->
    <script type="text/javascript">
       $youziku.load("body", "90cc0ef07a8c41faba19757bc6127580", "Source-Han-Light");
       /*$youziku.load("#id1,.class1,h1", "90cc0ef07a8c41faba19757bc6127580", "Source-Han-Light");*/
       /*．．．*/
       $youziku.draw();
    </script>
    <!--思源黑体 字体插入结束-->
