/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


 //-----正文部分开始------
 * {
   margin: 0px;
   padding: 0px;
 }

 h2 {
   padding-top: 30px;
   padding-bottom: 40px;
   font-color: #71604c;
 }

 body {
   margin: 0px;
   border: 0px;
   padding-top: 0px;
   background-color: #fbf9f0;
   font-family: Arail, sansserif;
   font-size: 10px;
   font-color: #fbf9f0;
   text-align: center; //让所以文本居中放置
 }


 //------nav部分开始(首页)--------
 #nav_war {
   margin: 0px;
   border: 0px;
   width: 1000px;//正文内容居中占俱页面的位置
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 55px;
   position: relative;
   z-index: 100;

 }
 #nav_war h1 {
   width: 100%;
   height: 70px;
   line-height: 70px;
   background-color: #f18702;
   font-size: 30px;
   color: #fbf9f0;
   border-radius: 8px;//背景的圆角度数
 }
 #nav_war h1 a {
   text-decoration: none;
   color: #fbf9f0;
   display: block;
 }
 #nav_war ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
 }
 #nav_war ul li a {
   text-decoration: none;
   color: #71604c;
   display: block;
   padding: 2px;//nav文本向下移动的数据
 }
 #nav_war ul li {
   float: left;
   width: 190px;
   height: 45px;
   background-color: #fbf9f0;
   font-size: 20px;
   line-height: 40px;
   text-align: center;
   border: 0px solid #fbf9f0;//设置边框样式

 }
 #nav_war ul li a:hover {
   background-color: #eceadd;
   border-radius: 8px;//背景的圆角度数
 }
 #nav_war ul li ul li {
   display: none;
 }
 #nav_war ul li:hover ul li {
   display: block;
 }
 //------nav部分结束(首页)--------


 //------大图box开始---------
 #main-content {
   width: 100%;
   height: 500px;//背景图片的高度
   background: url(bkg.jpg) no-repeat;
   background-size: cover;
   font-size: 20px;
   color: #71604c;
   line-height: 60px;
 }
 #main-content h1 {
   font-size: 30px;
 }
 #service {
   background: #f18702;
   width: 250px;
   height: 60px;
   line-height: 60px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   color: #71604c;
   font-weight: 100;


 }
 #service:hover {
   box-shadow: 1px 5px 10px 6px rgba(123, 96, 10, 0.81);//透明度与阴影颜色
   transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
 }
 #service a {
   color: #fbf9f0;
   text-decoration: none;
   padding: 25px;
 }
 //------大图box结束------

 //------正文box1开始-----
 #third {
   height: 900px;
   width: 690px;//正文内容居中占俱页面的位置
   background: #fbf9f0;
   margin-left: auto;
   margin-right: auto;
   margin-top: -30px;
   margin-bottom: 30px;
   border-radius: 8px;//背景的圆角度数
   box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
 }
 #third:hover {

 }
 #third1 {
   width: 230px;
   height: 300px;
   padding-top: 20px;
   display: inline;
   float: left;
   text-align: center;
   border-radius: 8px;//背景的圆角度数
 }
 #third1 img {
   width: 200px;
   height: 200px;
   border-radius: 8px;//背景的圆角度数
 }
 #third1 h3 {
   color: #71604c;
 }
 #third1 h3 p {
   color: #71604c;
 }
 #third1:hover {
   box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
   transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
 }
 //------正文box1结束-----

 //------正文box2开始-----
 #third2 {
   height: 323px;
   width: 690px;//正文内容居中占俱页面的位置
   background: #fbf9f0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 30px;
   border-radius: 8px;//背景的圆角度数
   box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
 }
 #third2 h2 {
   color: #71604c;
   padding-top: 20px;
   padding-bottom: 10px;
 }
 #third3 {
   width: 230px;
   height: 250px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
   display: inline;
   float: left;
   text-align: center;
   border-radius: 8px;//背景的圆角度数
 }
 #third3 h3 {
   color: #71604c;
 }
 #third3 h3 p {
   color: #71604c;
 }
 #third3 img {
   width: 200px;
   height: 150px;
   border-radius: 8px;//背景的圆角度数
 }
 #third3:hover {
   box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
   transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
 }
 //------正文box2结束-----

  //------正文box3开始-----
  #third4 {
    height: 323px;
    width: 690px;//正文内容居中占俱页面的位置
    background: #fbf9f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;//背景的圆角度数
    box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
  }
  #third4 h2 {
    color: #71604c;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #third5 {
    width: 690px;
    height: 220px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    float: left;
    text-align: center;
    border-radius: 8px;//背景的圆角度数
  }
  #third5 h3 {
    color: #71604c;
  }
  #third5 h3 p {
    color: #71604c;
  }
  #third5 img {
    width: 600px;
    height: 80px;
    border-radius: 8px;//背景的圆角度数
  }
  #third5:hover {
    box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
    transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
  }
  //------正文box3结束-----

  //------正文box4开始-----
  #third6 {
    height: 412px;
    width: 690px;//正文内容居中占俱页面的位置
    background: #fbf9f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;//背景的圆角度数
    box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
  }
  #third6 h2 {
    color: #71604c;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #third7 img {
    width: 600px;
    height: 80px;
    border-radius: 8px;//背景的圆角度数
    margin-bottom: 20px;
  }
  #third8 {
    width: 690px;
    height: 80px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    float: left;
    text-align: center;
    border-radius: 8px;//背景的圆角度数
  }
  #third8 h3 {
    color: #71604c;
  }
  #third8 h3 p {
    color: #71604c;
  }
  #third8:hover {
    box-shadow: 1px 5px 10px 6px rgba(148, 138, 112, 0.81);//透明度与阴影颜色
    transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
  }
  //------正文box4结束-----

 //------footer开始-------
 #footer {
   width: 100%;
   height: 200px;
   background: #f5eed1;
   line-height: 200px;//将文本向下移动
   position: absolute;
 }
 #footer h2 {
   color: #71604c;
   float: right;
   margin-right: 300px;
   font-size: 13px;
   font-weight: 350;
   line-height: 170px;//将文本向下移动
 }
 #footer2 ul {
   float: left;
   margin-left: 270px;
 }
 #footer2 ul li {
   display: inline-block;
   list-style-type: none;
   font-size: 20px;
 }
 #footer2 ul li a {
   text-decoration: none;
   color: #988e81;
   padding: 15px;
 }
 #icon {
   font-size: 30px;
 }
 #icon2 {
   font-size: 30px;
 }
 #icon3 {
   font-size: 30px;
 }
 #icon:hover {
   color: #4a4645;//添加隐藏的感应颜色
   transition: all ease-in-out 0.40s;//添加隐藏色彩出现的延缓时间
 }
 #icon2:hover {
   color: #e4cc8b;//添加隐藏的感应颜色
   transition: all ease-in-out 0.40s;//添加隐藏色彩出现的延缓时间
 }
 #icon3:hover {
   color: #79cab1;//添加隐藏的感应颜色
   transition: all ease-in-out 0.40s;//添加隐藏色彩出现的延缓时间
 }

 //------footer结束-------



 //------nav2部分开始(products页面)--------
 #nav2_war {
   margin: 0px;
   border: 0px;
   width: 1000px;//正文内容居中占俱页面的位置
   margin-left: auto;
   margin-right: auto;
 }
 #nav2_war h1 {
   width: 100%;
   height: 200px;
   line-height: 10px;
   background: url(麻的，我们来真的13.jpg) no-repeat;
   background-size: cover;
 }
 #nav2_war h1 a {
   text-decoration: none;
   color: white;
   display: block;
   background-color: red;
 }
 #nav2_war ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
 }
 #nav2_war ul li a {
   text-decoration: none;
   color: #71604c;
   display: block;
   padding: 2px;//nav文本向下移动的数据
 }
 #nav2_war ul li {
   float: left;
   width: 190px;
   height: 45px;
   background-color: #fff9e0;
   font-size: 20px;
   line-height: 40px;
   text-align: center;
   opacity: .8;
   border: 2px solid #fff9e0;//设置边框样式
 }
 #nav2_war ul li a:hover {
   background-color: #a2c783;
 }
 #nav2_war ul li ul li {
   display: none;
 }
 #nav2_war ul li:hover ul li {
   display: block;
 }
 //------nav2部分结束(products页面)--------


//--------products页面产品列表开始---------
#products {
  width: 70%;
  height: auto;
  background: #fff9e0;
  margin-left: 180px;
}
#products1 {
  width: 250px;
  height: 400px;
  display: inline;
  float: left;
  margin-top: 25px;
  text-align: center;
  margin-left: 30px;
  background-color: #fff9e0;
  border-radius: 8px;//背景的圆角度数
}
#products1:hover {
box-shadow: 1px 5px 10px 6px rgba(158, 143, 111, 0.73);//透明度与阴影颜色
transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
}
#products1 img {
  width: 250px;
  height: 250px;
  border-radius: 8px;//背景的圆角度数
  box-shadow: 1px 5px 10px 6px rgba(158, 143, 111, 0.73);//透明度与阴影颜色
}
#products1 img:hover {
box-shadow: 1px 5px 10px 6px rgba(158, 143, 111, 0.73);//透明度与阴影颜色
transition: all ease-in-out 0.45s;//延迟0.45s出现的响应式按钮阴影
}
#products1 h3 {
  color: #71604c;

}
#products1 p {
  color: #71604c;
}
#products2 {
  width: 250px;
  height: 400px;
  display: inline;
  float: left;
}
//--------products页面产品列表结束---------

//--------table--------
th {
  text-align: center;
}

//-------table end------

img {
  margin-left: 0px!important;
  margin-right: 0px!important
}
