<!--navbar内容开始-->
<div id="nav2_war">
      <h1><a href="/"></a></h1>
      <ul>
        <li><a href="#">询</a></li>
        <li><a href="#">类</a>
          <ul>
            <li><a href="#">款式</a></li>
            <li><a href="#">主帘</a></li>
            <li><a href="#">罗马杆</a></li>
            <li><a href="#">纱帘</a></li>
            <li><a href="#">其他</a></li>
          </ul>
        </li>
        <li><a href="#">首页</a></li>
        <li><a href="#">购</a>
          <ul>
            <li><a href="#">购物车</a></li>
            <li><a href="#">继续购物</a></li>
            <li><a href="#">我的订单</a></li>
          </ul>
        </li>
        <li><a href="#">私</a>
          <ul>
            <li><a href="#">个人中心</a></li>
            <li><a href="#">管理中心</a></li>
            <li><a href="#">登出</a></li>
          </ul>
        </li>
      </ul>
</div>
<!--navbar内容结束-->

<!--footer内容开始-->
<div id="footer">
  <h2>Desin by qiaoyu & 魏文海</h2>
  <div id="footer2">
    <ul>
      <li><a href="#"><i class="fa fa-github-alt" id="icon"></i></a></li>
      <li><a href="#"><i class="fa fa-paw" id="icon2"></i></a></li>
      <li><a href="#"><i class="fa fa-envira" id="icon3"></i></a></li>
    </ul>
  </div>
</div>
<!--footer内容结束-->



<!--产品图片飞入效果开始-->
<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
$(".thumbnail").mouseenter(function () {
    $(this).fadeOut(300).fadeIn(100)
})
</script>
<!--产品图片飞入效果结束-->
