
<!--footer内容开始-->
<div id="footer" style="padding-left: 0px;">
  <h2>Desin by 孔巧玉 & 魏文海</h2>
  <div id="footer2">
    <ul>
      <li><a href="#"><i class="fa fa-github-alt" id="icon"></i></a></li>
      <li><a href="#"><i class="fa fa-paw" id="icon2"></i></a></li>
      <li><a href="#"><i class="fa fa-envira" id="icon3"></i></a></li>
    </ul>
  </div>
</div>
<!--footer内容结束-->
